body{
  font-family: arial;
}
/* Menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.imghome  {
    background-image: url(../img/rmhadat.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}
.imgmakanan  {
    background-image: url(../img/makanan.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    color: #fff;
}
.imgkeunikan  {
    background-image: url(../img/kubah.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-position: center;
    color: blue;
}
.imgminuman  {
    background-image: url(../img/drink4.jpg);
    background-size: 50%;
    background-attachment: fixed;
    background-position: center;
    color: blue;
}
.bgtext {
    font-size: 4.4rem;
    position: center;
    left: 2.5rem;
    top: 5rem;
    opacity: 1;
    animation-name: topFadeOut;
    animation-duration: 2s;
    color: white;
}
.container-fluid {
    padding: 30px;  
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Akhir Menu */
table{
  width: 100%;
}

.konten{
    padding-left: 100px;
    padding-right: 100px;
}
h1  {
    font-size: 70px;
    color: yellow;
    white-space: pre;
}
h2  {
    font-size: 60px;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.logokiri {
    background-image: url(../img/logokiri.png);
    background-repeat: no-repeat;
    background-size: 110px 160px;
    background-position: left;
}
.logokanan {
    background-image: url(../img/logokanan.png);
    background-repeat: no-repeat;
    background-size: 190px 136px;
    background-position: right;
}

font {
    color:"yellow";
}

p.serif {
    font-family: "Times New Roman", Times, serif;
}


h3 {
    color: white;
	font-size: 40px;
}
p {
	color: white;
	font-size: 25px;
}
th {
	font-size: 25px;
}

